.map-container {
  height: 1000px;
}

.marker {
  background-image: url("../public/map.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
